/* Aula 27/09/2022 - Aplicando definições em CSS - Prensadão do Ab */
body, ul {
    margin: 0px;
    padding: 0px;
}
a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
#header #menu a:hover {
    background: rgba(red, green, blue, alpha);
}
#logo img {
    float: left;
    width: 60px;
    height: 60px;
    position: relative;
    top: 5px;
    left: 10px; 
}

logo img a:hover {
    text-decoration: none;
}
#header {
    width: 100%;
    position: fixed; /* Adicionando Position e Z-Index */
    z-index: 90;
    box-sizing: border-box;
    height: 100px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(243, 179, 243);    
}
#menu {
    display: flex ;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
    display: none;
}
#nav ul li a {
    font-style: italic; 
}
#carouselExampleInterval {
    position: relative;
    z-index: 10;
    gap: 0.5rem;
}
#carouselExampleInterval img {
    height: auto;
}

/* CSS configurando Banner */

.section-banner-home {
    width: 100%;
    height: 500px;
    padding: 50px; 
    margin: 30px auto;
    background-color: blueviolet;
}
.section-banner-home img {
    height: 400px;
}
.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;
}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 60%;
    font-weight: 500;
    padding-bottom: 20px; /* Margem interna do texto */
}
.section-banner-home .texto-banner p {
    font-size: 15px;
    margin-bottom: 20px; /* Margem interna do texto */
    color: #fff;
}
.section-banner-home .texto-banner a {
    color: black;
    text-decoration: none;
    background-color: #fff;
    padding: 4px 14px;
    font-size: 15px;
}
/* Fim do CSS /* 

/*CS Destaque */
.destaque h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destaque p {
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque a {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #30dcf4;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
}

