/* Aula 27/09/2022 - Aplicando definições em CSS - Prensadão do Ab */
body, ul {
    margin: 0px;
    padding: 0px;
}
a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
a:hover {
    background: rgba(red, green, blue, alpha);
}
#logo img {
    float: left;
    height: 35px;
    position: relative;
    top: 5px;
    left: 10px;  
}
#header {
    width: 100%;
    position: fixed; /* Adicionando Position e Z-Index */
    z-index: 90;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;    
}
#menu {
    display: flex ;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
    display: none;
}