/* Aula 27/09/2022 - Aplicando definições em CSS - Prensadão do Ab */
body, ul {
    margin: 0px;
    padding: 0px;
}
a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
#header #menu a:hover {
    background: rgba(red, green, blue, alpha);
}
#logo img {
    float: left;
    width: 60px;
    height: 60px;
    position: relative;
    top: 5px;
    left: 10px; 
}

logo img a:hover {
    text-decoration: none;
}
#header {
    width: 100%;
    position: fixed; /* Adicionando Position e Z-Index */
    z-index: 90;
    box-sizing: border-box;
    height: 100px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(243, 179, 243);    
}
#menu {
    display: flex ;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
    display: none;
}
#nav ul li a {
    font-style: italic; 
}
#carouselExampleInterval {
    position: relative;
    z-index: 10;
    gap: 0.5rem;
    padding-top: 105px;
}
#carouselExampleInterval img {
    height: 500px;
}

@media (max-width: 600px) {
    #menu {
        display: block; 
        position:absolute;
        width: 15rem;
        top: 70px;
        right:0px;
        background:#e7e7e7;
        transition: 0.6px;
        z-index: 1000px;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #menu li {
        padding-top: 30px;
        padding-bottom: 0px;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(red, green, blue, alpha);
    }  
    #nav.active #menu {
        height: calc(100vh - 70px); /* Em px é o tamanhoo da faixa do menu*/
        visibility: visible;
        overflow-y: hidden;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top:4px solid;
        width: 25px;
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
        border-bottom: 4px solid;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .embed-container {
        position: relative;
        padding-bottom: 0;
        height: 35px;
        max-width: 100%;
        margin-top: 10px;
        margin-bottom: 0;
        padding-top: 0;
        padding-left: 30px;
        padding-right: 30px;
    }
    .embed-container iframe, .embed-container object, .embed-container embed {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 350px;
        border: solid thick red;
        border-radius: 1em;
        box-shadow: gray 0.5em 0.5em 0.3em;
    }
}
/* CSS configurando Banner */

.section-banner-home {
    width: 100%;
    height: 500px;
    padding: 50px; 
    margin: 18px auto;
    background-color: blueviolet;
}
.section-banner-home img {
    height: 400px;
}
.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;
}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 60%;
    font-weight: 500;
    padding-bottom: 20px; /* Margem interna do texto */
}
.section-banner-home .texto-banner p {
    font-size: 15px;
    margin-bottom: 20px; /* Margem interna do texto */
    color: #fff;
}
.section-banner-home .texto-banner a {
    color: black;
    text-decoration: none;
    background-color: #fff;
    padding: 4px 14px;
    font-size: 15px;
}
/* Fim do CSS /* 

/*CS Destaque */
.destaque h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destaque p {
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque a {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #30dcf4;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
}
/* Início CSS Novidades */
.novidades {
    background-color: #082373;
    padding: 50px;
}
.novidades .text-body{
    width: 80%;
    margin: 70px auto;
}
.novidades h2 {
    color: #fff;
}
.novidades p {
    color: #fff;
}
.novidades a {
    color: #000;
    text-decoration: underline;
    text-decoration-color: violet;
    padding: 6px 12px;
    background-color: #fff;
    font-weight: 400;
}
/* Fim CSS novidades */
/* Início CSS Galeria*/
.galeria {
    margin: 60px auto 20px;
}
.galeria h2 {
    text-align: center;
    font-size: 24px
}
.galeria p {
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}
.galeria .gallery {
    width: 30%;
    margin: 14px auto 50px;
}
/* Fim CSS Galeria */
/* Início CSS Footer*/
.rodape {
    padding: 50px 50px 0;
}
.rodape .info-contato p {
    margin: 0px;
}
.rodape a {
    text-decoration:none;
    color: #000;
    font-size: 13px;
}
.rodape a:hover {
    font-weight: bold;
}
.rodape .redes-socias {
    display: inline-block;
}
.rodape .redes-socias img {
    width: 45px;
    height: 40px;
}
.rodape p.direitos {
    text-align: center;
    margin-top: 40px;
}
